

  *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  html {
    scroll-behavior: smooth;
  }
    
  .landing-section {
      display: flex;
      justify-content: center; 
      flex-direction: column;
      align-items: center; 
      height: 100vh; 
  }

  .landing-section .block-2{
    border: solid 2px;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    font-size: 4vh;
    margin-top: 2rem;
  }


a,p{
  font-family: 'Raleway', sans-serif; 
}
h1{
  font-family: 'Bitter', serif;
  font-weight: 700;
}
h2{
  font-family: 'Bitter', serif;

  font-weight: 500;
}
img {
    max-width: 100%; 
    height: auto;
}
.logo h1{
  color: #fff;
}

.bg-black{
  background-color: black;
}
.color-white{
  color: white;
}
.font-size{
  font-size: 3.5vh;
}
.ppal-title{
  font-size: 8vh;
}

.subtitle{
  font-size: 6vh;
}
a:link, a:visited,a:hover,a:active  {
  text-decoration: none;
}

.main-header {
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    opacity: 0.8;
    z-index: 80;
    top: 0;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

  }
  
  .logo img {
    max-height: 30px;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-left: 10px;
  }
  
  .menu a {
    display: block;
    padding: 5px 10px;
    border: 0.5px solid;
    border-radius: 5px;
    color: #fff;
  }

  .menu a:active{
    background-color: white;
    color: #000;
  }

  .section-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
    padding: 3.3rem 0;
  }
  .section-height{
    min-height: 70vh;
  }
  .section-block{
    flex: 1;
    /* height: 100px; */
  }
  .section-block h2{
    margin: 3rem 0 1rem;
    text-align: center;
  }

  #bio p{
    text-align:justify;
    /* width: 95%; */
    padding: 0 2rem 0 0;
  }

  #contacto p{
    padding: 0 2rem;
    text-align: justify;
  }

  .form-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
    align-items: flex-start;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 20px;

  }
  form .submit{
 
    align-self: self-end;
    width: 24%;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 5px;
  }

  input[type="text"]::placeholder, 
  textarea::placeholder,
  input[type="email"]::placeholder{
    font-family: 'Bitter', serif;
  }
  .height-textarea{
    height: 200px;
  }

  button[type="submit"] {
   
    color: black;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #000000;
    color: white;
  }

  section#home{
    background-image: url('../img/dave-grohl-2-2.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  }
  .block-image {
    min-height: 100vh;
    min-width: 0;
  }
  
  .block-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
  }
  .block-video {
    /* width: calc(33.33% - 30px);  */
    width: 26.33%;
    min-height: 315px;
    margin-bottom: 20px;
  }


  
  
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  /*@media screen and (max-width: 1024px) {
    .block-image {
      min-height: 34vh;
  
  }
    .block-video {
  
      width: 100% ; 
      height:100%;
    } 
    .block-video iframe{
      width: 100%;
      height:500px;
    
    }
    .container-videos{
      flex-direction: column;
      
    }

    .section-container{
      display: flex;
      flex-direction: column ;

    }

    .form-container {
     
      justify-content: center;

    }
    form {

      max-width: 55rem;
   
    }
  }
  */

  /*@media screen and (max-width: 768px) {

    .section-block {
      width: 100%;
    }
    .section-container{
    
      flex-direction: column ;
      flex-basis: 100%;

    }
  }
*/
  /* @media  screen and (max-width: 480px) {
    .form-container {
      display: flex;
      justify-content: center;
    }
    .font-size {
      font-size: 1.5vh !important;
    }
  } */

  /* @media (max-width: 480px) {
    .form-container {
      display: flex;
      justify-content: center;
    }
    .font-size {
      font-size: 1.5vh !important;
      color: aqua !important;
    }
  } */
  @media only screen and (max-width : 1024px) {
    .block-image {
      min-height: 34vh;
  
  }
    .block-video {
  
      width: 100% ; 
      height:100%;
    } 
    .block-video iframe{
      width: 100%;
      height:500px;
    
    }
    .container-videos{
      flex-direction: column;
      
    }

    .section-container{
      display: flex;
      flex-direction: column ;

    }

    .form-container {
     
      justify-content: center;

    }
    form {

      max-width: 55rem;
   
    }
  }
  @media only screen and (max-width : 768px) {
    .section-block {
      width: 100%;
    }
    .section-container{
    
      flex-direction: column ;
      flex-basis: 100%;

    }
    .container-videos {

       padding: 0rem; 
  }
  }
  /* For screens between 480px and 768px */
  @media only screen and (min-width : 480px)  {
    .form-container {
      display: flex;
      justify-content: center;
    }

    .container-videos {
 
      padding: 0rem ;
  }
  input[type="text"]::placeholder, 
  textarea::placeholder,
  input[type="email"]::placeholder{
   font-size: 1.4rem;
  }

}

  
  